

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24rem;
    padding: 4rem;
    background: rgba(252, 83, 236, 0.10);
    gap: 4rem;
  }

  .foot1 img{
    width: 251px;
    height: 116px;
  }
  
  .foot2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .foot2 h2, .foot2 p {
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }

  .foot2 p{
    font-weight: 300;
    
  }

  .foot2 .input{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .foot2 input{
    width: 408px;
    height: 40px; 
    border-radius: 11px;
    border: none;
    background: #DBD5DA;
    margin-right:0;
  }


  .foot2 button{
    height: 42px;
    margin-left: 0;
    border-radius: 11px;
  }